.DS_Store
.bundle
.rvmrc
.powenv
.powrc
.metrics
.sass-cache/
.scripted
*.sw*
*.*.sw*
*.*.*.sw*
*~
.idea/
.terminal_tabs
bin/
config/database.yml
config/config.dev.yml
config/settings/local
config/settings/prod_ro
db/*.sqlite3
db/database.yml
dump.rdb
db/backups
log/*.log*
mysql2/
solr/pids
solr/data
script/start
public/assets
public/public
public/import_notes
public/system
public/fonts
public/uploads
public/sailthru
tmp/
uploads
tags
test.rb
coverage/
.tddium*
.tddium
.ruby-version
.ruby-gemset
app/assets/stylesheets/*/*.css
